@font-face {
  font-family: PingFangRegular;
  src: url("../assets/fonts/PingFangRegular/PingFang-Regular.ttf");
}

@font-face {
  font-family: PingFangMedium;
  src: url("../assets/fonts/PingFangMedium/PingFang-Medium.ttf");
}

@font-face {
  font-family: DouyinSans;
  src: url("../assets/fonts/DouyinSans/Douyin-Sans.otf");
}

@font-face {
  font-family: alibabaPuhuiMedium;
  src: url("../assets/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Medium.otf");
}
